{% extends 'base.html' %}
 
{% block title  %} {{user.username}} {% endblock %}


{% block content %}


    <h1>Welcome {{user.username}}</h1>

    <nav>
        <form action="/logout", method="POST">
            <button>Logout</button>
        </form>
        <form action="/users/{{user.username}}/delete", method="POST">
            <button style="color: darkred">Delete User</button>
        </form>
    </nav>


    <ul style="list-style-type: none;">
        <li>UserName:{{user.username}}</li>
        <li>User Email: {{user.email}}</li>
        <li>First Name: {{user.first_name}}</li>
        <li>Last Name: {{user.last_name}}</li>
    </ul>

    <form action="/users/{{user.username}}/feedback/add">
        <button>Add Feedback</button>
    </form>

    <ul>
        {% for data in feedback %}
            <li>
                <a href="/feedback/{{data.id}}/update">{{data.title}}</a>
                <form action="/feedback/{{data.id}}/delete", method="POST">
                    <button>X</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}