{% extends 'base.html' %}
 
{% block title  %} {{user.username}} {% endblock %}


{% block content %}


    <h1>Welcome {{user.username}}</h1>

    <nav>
        <form action="/logout", method="POST">
            <button>Logout</button>
        </form>
        <form action="/users/{{user.username}}/delete", method="POST">
            <button style="color: darkred">Delete User</button>
        </form>
    </nav>


    <ul style="list-style-type: none;">
        <li>{{user.username}}</li>
        <li>{{user.email}}</li>
        <li>{{user.first_name}}</li>
        <li>{{user.last_name}}</li>
    </ul>

    <form action="/users/{{user.username}}/feedback/add">
        <button>Add Feedback</button>
    </form>

    <ul>
        {% for data in feedback %}
            <li>{{data.title}}</li>
        {% endfor %}
    </ul>
    
{% endblock %}